.choose{
    margin-top: 10%;
    margin-bottom: 5%;
}

.cardStyle{
    height: 300px;
}
.card-body {
    box-shadow: 0 2px 10px 0 #d8dde6;
}
.card-body:hover {
    box-shadow: 0 2px 10px 0 #f8b60077;
}