.aboutImage{
    height: 500px;
    
        img{
            height: 500px;
            width: 90%;   
        }
}

.about-right{
    h1{
        color: #e9ecefbd;
        font-weight: bold;
        font-size: 400%;
        margin-bottom: 8%;
    }

}

.about-right{
    h2 {
        line-height: 50px;
        padding-bottom: 20px;
    }
}