$logoColor : orange;
$textColor: white;

.logoX{
    color: $logoColor;
    font-weight: bold;
    
}
.navbar-brand {
    font-size: 25px;
}

.bg-color{
    background-color: transparent;
}

.jumbotron{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../../Images/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg');
    background-size: 100%, 100%;
}

.jumbotron-height{
    height: 750px;
}

.intro-Style{
    margin-top: 10%;
}

.fitness{
    font-size: 130%;
}

.btn-warning{
    width: 120px;
    font-weight: bold;
}
.n-margin {
    padding-bottom: 40px;
}
.classDetail .right {
    position: relative; }
    .classDetail .right h2 {
      margin-bottom: 5rem; }
    .classDetail .right .schedule {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem 1rem; }
      .classDetail .right .schedule .card {
        background-color: #fff;
        padding: 2rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1); }
        .classDetail .right .schedule .card h5 {
          font-family: 'Open Sans', sans-serif;
          font-size: 2rem; }
        .classDetail .right .schedule .card p {
          font-size: 1.5rem; }
    .classDetail .right .btn {
      position: absolute;
      bottom: 0;
      right: 0; }
  
  .verticalLine {
    position: relative; }
  
  .verticalLine::before, .verticalLine::after {
    content: "";
    width: .1rem;
    height: 12rem;
    background-color: #ddd;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  
  .verticalLine::before {
    top: -15rem; }
  
  .verticalLine::after {
    bottom: -15rem; }
  
  .backgroundX {
    position: relative; }
  
  .backgroundX::before, .backgroundX::after {
    content: "";
    width: 12rem;
    height: 45rem;
    background-color: rgba(242, 242, 243, 0.1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg); }
  
  .backgroundX::before {
    transform: translate(-50%, -50%) rotate(135deg); }
  
  .backgroundX::after {
    transform: translate(-50%, -50%) rotate(-135deg); }