$logoColor : orange;
$textColor: white;

.logoX{
    color: $logoColor;
    font-weight: bold;
    
}
.navbar-brand {
    font-size: 25px;
}

.bg-color{
    background-color: transparent;
}

.jumbotron{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../../Images/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg');
    background-size: 100%, 100%;
}

.jumbotron-height{
    height: 750px;
}

.intro-Style{
    margin-top: 10%;
}

.fitness{
    font-size: 130%;
}

.btn-warning{
    width: 120px;
    font-weight: bold;
}
.n-margin {
    padding-bottom: 40px;
}
.navbar-dark .navbar-nav .nav-link{
  color: #ffffff;
  margin-left: 1rem;
}

.text-yellow{
  color: goldenrod;
}