.footer{
    
    background-color: rgb(14, 17, 27);
    padding-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

.socialLogo{
    a{
        margin-right: 8%;
    }
}
.socialLogo img {
    width: 12%;
}
img.fb {
    height: 12%;
    width: 8%;
}
.f-top {
    margin-top: 12px;
}
.LogoFooter {
    font-size: 25px;
}
.footer h6 {
    margin-bottom: 20px;
}
.container-id {
        padding-bottom: 50px;
    }

.copyright {
    color: white;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 1px;
    background-color: #212529;
}